<div id="todoNew">

    <h2>New Todo</h2>

    <form>

        <div class="formField">
            <label for="todo.title">Titre</label>
            <input id="todo.title" type="text" ng-model="todo.title"/>
        </div>

        <div class="formField">
            <label for="todo.description">Description</label>
            <textarea id="todo.description" ng-model="todo.description">
            </textarea>
        </div>

        <hr/>

        <button class="button" ng-click="gotoTodoListPage()">&lt; Retour</button> &nbsp;
        <button class="button" ng-click="submit()">Sauver</button>

    </form>

</div>
